.container {
    max-width: 1200px;
    width : 50%;
}

.eventImgContainer {
    width : 50%;
    position: relative;
    .eventDescImg {
        width: 100%;
        height: 400px;
    }
    .imgFilter {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg,rgba(0,0,0,0.3),rgba(0,0,0,.2) 80%,rgba(0,0,0,.1));
    }
    .eventName {
        position: absolute;
        top: 14px;
        left: 10px;
        z-index: 1;
        height: 70px;
        width: 62%;
        color: #FFFFFF;
        font-size: 17px;
        line-height: 35px;
    }   
}

.parentContainer{
    display: inline-flex;
    width: 100%;
    padding: 0% 10%;
}

.buttonsBottom {
    display: none;
}
.eventShareStickyBtn {
    width: 25%;
    background: #ffffff;
    color: #EF6C30;
    height: 50px;
   	/* font-family: 'Allerta', sans-serif; */
   	font-size: 14px;
   	border: none;
}
.eventBookStickyBtn {
    width: 75%;
    background: #ed6b0a;
    color: #fff;
    height: 50px;
   	/* font-family: 'Allerta', sans-serif; */
   	font-size: 14px;
   	border: none;
}
.buttonsTop {
    display: block;
    bottom: 0px;
    width: 80%;
    margin: auto;
}

.details {
    width: auto;
    width: auto;
    position: relative;
    background: #fff;
    padding: 7% 10%;
    color: #0B2340;
    font-size: 14px;
}
.bott {
	border-bottom: 1px solid #e2e2e2;
}

@media (max-width: 797px) {
    .parentContainer{
        display: block;
        padding: 0%;
    }
    .container {
        max-width: 1200px;
        margin: auto;
        width : 100%;
    }
    .eventImgContainer {
        position: relative;
        width : 100%;
    	.eventDescImg {
    		width: 100%;
    		height: 200px;
    	}
    	.imgFilter {
    		position: absolute;
    	    width: 100%;
    	    height: 100%;
    	    left: 0;
    	    top: 0;
    	    background: linear-gradient(180deg,rgba(0,0,0,0.3),rgba(0,0,0,.2) 80%,rgba(0,0,0,.1));
    	}
    	.eventName {
            position: absolute;
            top: 14px;
            left: 10px;
            z-index: 1;
            height: 70px;
            width: 62%;
            color: #FFFFFF;
            font-size: 17px;
            line-height: 35px;
    	}	
    }
    .buttonsBottom {
        display: block;
        position: fixed;
        bottom: 0px;
        float: left;
        width: 100%;
        max-width: 1200px;
    }
    .buttonsTop{
        display: none;
    }
    .details {
        padding: 7% 15%;
    }
}
.box {
    position: absolute;
    left: 4%;
    height: 20px;
	width: 20px;
	opacity: 0.41;
	background-color: #5578A3;
}
.eventDesc {
    position: relative;
    background: #3a3939;
    margin: 5% 10%;
    color: #585858;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 0px;
    background-color: inherit;
    line-height: 2;
}