@import url(https://fonts.googleapis.com/css?family=Allerta);
.container {
    max-width: 1200px;
    margin: auto;
}

.eventImgContainer {
    position: relative;
    .eventDescImg {
        width: 100%;
        height: 400px;
    }
    .imgFilter {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg,rgba(0,0,0,0.3),rgba(0,0,0,.2) 80%,rgba(0,0,0,.1));
    }
    .eventName {
        position: absolute;
        top: 14px;
        left: 10px;
        z-index: 1;
        height: 70px;
        width: 62%;
        color: #FFFFFF;
        font-family: 'Allerta', sans-serif;
        font-size: 17px;
        line-height: 35px;
    }   
}


@media (max-width: 797px) {
    .eventImgContainer {
    	position: relative;
    	.eventDescImg {
    		width: 100%;
    		height: 200px;
    	}
    	.imgFilter {
    		position: absolute;
    	    width: 100%;
    	    height: 100%;
    	    left: 0;
    	    top: 0;
    	    background: linear-gradient(180deg,rgba(0,0,0,0.3),rgba(0,0,0,.2) 80%,rgba(0,0,0,.1));
    	}
    	.eventName {
            position: absolute;
            top: 14px;
            left: 10px;
            z-index: 1;
            height: 70px;
            width: 62%;
            color: #FFFFFF;
            font-family: 'Allerta', sans-serif;
            font-size: 17px;
            line-height: 35px;
    	}	
    }
}
.eventShareStickyBtn {
    width: 25%;
    background: #ffffff;
    color: #EF6C30;
    height: 50px;
   	font-family: 'Allerta', sans-serif;
   	font-size: 14px;
   	border: none;
}
.eventBookStickyBtn {
    width: 75%;
    background: #ed6b0a;
    color: #fff;
    height: 50px;
   	font-family: 'Allerta', sans-serif;
   	font-size: 14px;
   	border: none;
}
.box {
    position: absolute;
    left: 4%;
    height: 20px;
	width: 20px;
	opacity: 0.41;
	background-color: #5578A3;
}

.details {
    width: auto;
    width: auto;
    /* height: 21px; */
    position: relative;
    background: #fff;
    padding-left: 12%;
    /* margin-left: 1px; */
    padding-bottom: 13px;
    color: #0B2340;
    font-size: 12px;
    padding-top: 13px;
    font-family: 'Allerta', sans-serif;
}
.bott {
	border-bottom: 1px solid #e2e2e2;
}
.eventDesc {
	 width: auto;
    /* height: 21px; */
    position: relative;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    /* line-break: initial; */
    /* margin-left: 1px; */
    /* padding-bottom: 10px; */
    color: #0B2340;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
    font-family: 'Allerta', sans-serif;
    background-color: #F2F2F2;
}

.buttons {
    position: fixed;
    bottom: 0px;
    float: left;
    width: 100%;
    max-width: 1200px;
}