.idea/
/node_modules/*
node_modules/
node_module*
node_module/*
package-lock.json
npm-debug.log
yarn-error.log
static/dist/
*.iml
webpack-assets.json
webpack-stats.json
.happypack/
webpack/dlls/*.json
api/**/*.nedb
*.report.html
coverage/