.thankyouImg {
	width: 100%;
}
.infobox {
	background: #FFFFFF;
}
.infoboxContent{
  background: #FFFFFF;
  margin: 0 8px 8px 8px;
  background: #FFFFFF;
  padding: 10px 10px;
  color: #0B2340;
  font-family: "Lucida Grande";
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.nextButton {
  width: 100%;
  background: #ed6b0a;
  color: #fff;
  height: 50px;
  font-family: "Lucida Grande";
  font-size: 14px;
  border: none;
  position: fixed;
  bottom: 0;
}