.headings {
	height: 18px;
	width: 300px;
	color: #FFFFFF;
	font-family: "Lucida Grande";
	font-size: 16px;
	line-height: 18px;
	color: #5578A3;
    font-family: "Lucida Grande";
}
.allCont {
    position: relative;
    top: 13px;
    /* letter-spacing: 1px; */
    padding: 22px;
    text-align: center;
    word-wrap: break-word;
    text-align: justify;
}