.myFooter {
    width: 100%;
    height: auto;
    background-color: #f5f9fd;
    position: relative;
    display: inline-block;
    font-family: Aller;
    padding: 0px 7%;

    .khelacademyinfofooter{
        color: darkgray;
        padding: 5px;
        font-size: 15px;
        margin-top: 10px;
        padding: 0 2.5%;
        
        .companyName, .companycerti{
            width:50%;
            float: left;
            padding-top: 2%;
            padding-bottom: 3%;
        }
        .companycerti{
            text-align: right;
        }
    }
    .contactAndAddress{
        height: 80%;
        padding: 5px;
        margin: 5px;
        .contactUs {
        width: 60%;
        float: left;
        padding: 20px;
        margin-top: 50px;

        .contactUsHeader {
           color: #EF6C30;
           font-size: 30px;
           font-weight: bold;
        }
        .connectBtn{
            width: 25%;
            background: #032342;
            color: #fff;
            height: 50px;
            font-size: 16px;
            border: none;
            margin-top: 30px;
        }
        .userDetails {
            margin-top: 30px;
            font-size: 18px;
             .userName, .userEmail {
                width: 45%;
                height: 45px;
                padding: 5px;
             }
             .userEmail {
                margin-left: 20px;
             }
             .userMessage{
                width: 93%;
                margin-top: 30px;
                height: 100px;
             }
        }
    }
    .userAddressDetails {
        width: 40%;
        float: left;
        padding: 20px;
        margin-top: 75px;

         label{
            color:#EF6C30;
            font-size: 20px;
            font-weight: normal;
         }
         .kaAddress, .kaPhoneNo, .kaEmail{
            margin-top: 10px;
            font-size: 16px;
         }
         .infoElem{
            margin-top:20px;
         }
    }
    }
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2e2e2;
    font-size: 16px;
    margin-top: 0;
}
.shareIt {
    border-bottom: 1px solid #ebeced;
    padding-bottom: 40px;
}
.allFooterLogos {
    display: inline-block;
    margin-left: 2%;
    .imgFClass {
        width: 35px;
    }
}